.CampaignNav {
  /*border-right: 3px solid #3b653d;*/
  min-height: 10%;
  margin-left: 2rem;
  position: sticky;
  top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0rem 0rem;
  width: 75%;
}

.campaignLinks {
  background-color: transparent;
  /*border-radius: 20px;*/
  color: rgba(59, 101, 61, 0.3);
  letter-spacing: 0.01rem;
  /*margin: 0.1rem;*/
  padding: 0.3rem 0.5rem;
  text-align: right;
  transition: background-color 0.3s, color 0.3s, border-right 0.3s, transform 0.3s;

  /* color: white; */
}

.campaignLinks:hover {
  background-color: rgba(220,220,220,0.5);
  /* border-right: 2px solid rgba(59, 101, 61, 1); */
  cursor: pointer;
  color: rgba(59, 101, 61, 1);
  transform: translateX(-7px);
  transition: background-color 0.3s, color 0.3s, border-right 0.3s, transform 0.3s;

  /* border-right: 2px solid white; */
  /* background-color: #ff533d;
  border-radius: 5px; */
}
